<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/cabecalho :: head}"></div>
    <title>Formulário de Botina</title>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container m-2">
    <div class="offset-md-4">
        <h2>Botina</h2>
        <form action="#" method="POST" th:action="@{/boots/new}" th:object="${boot}">
            <input type="hidden" id="id" th:field="*{id}">
            
            <span th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="text-danger"></span>
            <input type="text" th:field="*{model}" class="form_control mb-3 col-8" placeholder="Modelo">
            <br/>
            
            <span th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" class="text-danger"></span>
            <input type="text" th:field="*{brand}" class="form_control mb-3 col-8" placeholder="Marca">
            <br/>

            <span th:if="${#fields.hasErrors('size')}" th:errors="*{size}" class="text-danger"></span>
            <input type="number" th:field="*{size}" class="form_control mb-3 col-8" placeholder="Tamanho">
            <br/>
            
            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
            <input type="number" step="0.01" th:field="*{price}" class="form_control mb-3 col-8" placeholder="Preço">
            <br/>

            <span th:if="${#fields.hasErrors('store')}" th:errors="*{store}" class="text-danger"></span>
            <select th:field="*{store}" class="form-control mb-3 col-8">
                <option value="">Selecione uma Loja</option>
                <option th:each="store : ${stores}" th:value="${store.id}" th:text="${store.name}"></option>
            </select>
            <br/>

            <button type="submit" class="btn btn-primary col-2">Salvar</button>
        </form>
    </div>
</div>
</body>
</html>