<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/cabecalho :: head}"></div>
    <title>Lojas</title>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container my-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h3>Lojas Cadastradas</h3>
            <a th:href="@{/stores/form}" class="btn btn-primary">Adicionar Loja</a>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>CNPJ</th>
                    <th>Telefone</th>
                    <th>Endereço</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="store : ${stores}">
                    <td th:text="${store.name}"></td>
                    <td th:text="${store.cnpj}"></td>
                    <td th:text="${store.phone}"></td>
                    <td th:text="${store.address}"></td>
                    <td>
                        <a th:href="@{/stores/update/{id}(id=${store.id})}" class="btn btn-sm btn-warning">Alterar</a>
                        <a th:href="@{/stores/delete/{id}(id=${store.id})}" class="btn btn-sm btn-danger">Deletar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>