<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/cabecalho :: head}"></div>
    <title>Usuários</title>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container my-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h3>Usuários Cadastrados</h3>
            <a th:href="@{/users/form}" class="btn btn-primary">Adicionar Usuário</a>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Gênero</th>
                        <th>E-mail</th>
                        <th>Endereço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each=" user : ${usuarios} ">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.gender}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.address.place + ', nº ' + user.address.number}"></td>
                        <td>    
                            <a th:href="@{/users/update/{id}(id=${user.id})}" class="btn btn-sm btn-warning">Alterar</a>
                            <a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-sm btn-danger">Deletar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>