<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/cabecalho :: head}"></div>
    <title>Formulário de Usuário</title>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container my-4">
    <div class="card">
        <div class="card-header">
            <h3 th:text="${user.id == 0} ? 'Novo Usuário' : 'Editar Usuário'"></h3>
        </div>
        <div class="card-body">
            <form action="#" method="POST" th:action="@{/users/new}" th:object="${user}">
                <input type="hidden" id="id" th:field="*{id}">
                <input type="hidden" id="addressId" th:field="*{address.id}">

                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Nome do usuário">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="email@exemplo.com">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="gender">Gênero:</label>
                        <select id="gender" th:field="*{gender}" class="form-control">
                            <option value="">Selecione...</option>
                            <option th:each="g : ${T(br.edu.ifsuldeminas.mch.springbootcrud.model.entity.User.Gender).values()}"
                                    th:value="${g}"
                                    th:text="${g.description}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="text-danger"></span>
                    </div>
                </div>

                <hr>
                <h5>Endereço</h5>

                <div class="form-group">
                    <label for="place">Rua:</label>
                    <input type="text" id="place" th:field="*{address.place}" class="form-control" placeholder="Nome da Rua">
                    <span th:if="${#fields.hasErrors('address.place')}" th:errors="*{address.place}" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="number">Número:</label>
                        <input type="number" id="number" th:field="*{address.number}" class="form-control">
                        <span th:if="${#fields.hasErrors('address.number')}" th:errors="*{address.number}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="zipCode">CEP:</label>
                        <input type="text" id="zipCode" th:field="*{address.zipCode}" class="form-control" placeholder="00000-000">
                        <span th:if="${#fields.hasErrors('address.zipCode')}" th:errors="*{address.zipCode}" class="text-danger"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-3">Salvar</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>